<section class="stats">
		<span class="closed">{{bugList | closedCount}}</span>
		<span> / </span>
		<span>{{bugList.length}}</span>
	</section>
	<section class="sort">
		<label for="">Order By :</label>
		<select (change)="sortBugBy = $event.target.value">
			<option value="name">Name</option>
			<option value="isClosed">Status</option>
		</select>
		<label for="">Descending ? :</label>
		<input type="checkbox"  (change)="sortBugDescending=$event.target.checked">
	</section>
	<section class="edit">
		<label for="">Bug Name :</label>
		<input type="text" [(ngModel)]="newBugName">
		<input type="button" value="Add New" (click)="onBugAdd()">
	</section>

	<section class="bugList" >
		<ol>
			<li *ngFor="let x of (bugList | sortBug:sortBugBy:sortBugDescending)">
				<span class="bugname"
				[ngClass]="{closed : x.isClosed}"
				(click)="onBugClick(x)">{{x.name | trimText:20}}</span>
				<div class="datetime">[Created At]</div>
			</li>
		</ol>
		<input type="button" value="Remove Closed" (click)="removeClosedBugs()">
	</section>
